@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Playwrite+NO:wght@100..400&family=Science+Gothic:wght@100..900&display=swap');

:root {
    --purple500: #281154;   ;
    --purple300: #270082;
    --purple600: #1b0058;
    --red600: #dc0000;
    --body: #f9f6ff;
    --max-width: 1200px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body{
    font-family: "Open Sans", sans-serif;
    font-weight: 300 ;
    line-height: 1.4;
    scroll-behavior: smooth;
}


.container{
    max-width: 800px;
    margin: 0 auto;
}

header{
    background-color: var(--purple500);
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 0px;
}

nav, ul{
    display: flex;
    gap: 8px;
}

ul{
    list-style: none;
}

.logo{
    font-size: 20px;
    font-weight: 500;
}

a{
    text-decoration: none;
    color: white;
}

nav ul a li:hover{
    border-bottom: 1px solid white;
    border-radius: 0.1rem;
    transition: 0.2s ease-in-out;
}


