*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/* Image SECTION */

.img1{
    background-image: url(./Asset/image1.png);
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    position: relative;   
}


.img2
{
    background-image: url(./Asset/image2.png);
    height: 300px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;  
    position: relative;
}
.img3
{
    background-image: url(./Asset/image3.png);
    height: 300px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;  
    position: relative;
}


/* Above Image text */
.overlayText{
    position: absolute;
    top: 50%;
    width: 100%;
    text-align: center;
}

.text{
    background-color: gray;
    padding-right: 50px;
    padding-left: 50px;
    padding-bottom: 40px;
    padding-top: 40px;
    border-radius: 5px;
    font-size: 30px;
    border-width: thick;
    border-style: black;
    color: whitesmoke;
}


.description-text{
    align-items: center;
    padding: 30px;
}

.describe{
    font-size: 10px;
    text-align: center;
}

.sectionText{
    text-align: center;
    font-size: 30px;
    color: gray;
    padding-bottom: 10px;
}








